<div class="jumbotron">
  <div class="container">
    <h1>Can't Wait!</h1>
    <p>I'm Angeline, and this is a project I wanted to do because I both wanted to count the days till some personal events and also to train myself as a web developer. Hope you enjoy the site!</p>
    <p>
    	<a href="http://www.twitter.com/angelinemm" target=_new><%= image_tag "Twitter_logo_blue.png", :width => "30" %> @angelinemm</a>
    </p>
  </div>
</div>