<div class="jumbotron">
  <div class="container">
    <h1>Can't Wait!</h1>
    <p>Set up the coming events in your life and watch your dashboard as they grow closer. No need to count the days anymore!</p>
    <p>
    	<%= link_to "Sign up for free", signup_path, :class => "btn btn-primary btn-lg", :role => "button" %>
    </p>
  </div>
</div>